<section class="container-fluid">
    <div class="row">
        <div class="col col-4 my-3 mx-5">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fad%2F9c%2F68%2Fad9c68b381b1e08ae44b7a60569da72a.jpg&f=1&nofb=1" class="img-fluid rounded-start" alt="city_photo">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title bg-primary text-warning py-2 my-0 text-center">Kanagawa</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <p class="card-footer bg-primary"><small class="text-center text-warning">Welcome! <wbr> 再起する街へようこそ！</small></p>
                </div>
              </div>
        </div>
        
    </div>
    
</section>