<section class="container-fluid">
    <div class="row my-5">
        <div class="col col-4 my-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fad%2F9c%2F68%2Fad9c68b381b1e08ae44b7a60569da72a.jpg&f=1&nofb=1" class="img-fluid rounded-start" alt="city_photo">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title fs-4  text-warning py-2 my-0 text-center">Tokyo Hotel</h5><br>
                      <p class="card-text"><b>City: </b> Shinjuku</p>
                      <p class="card-text"><b>Nights: </b>5</p>
                    </div>
                </div>
                <p class="card-footer bg-dark "><small class="text-center text-warning"><b>Price: </b>￥200</small></p>
                </div>
              </div>
        </div>
        <div class="col col-4 my-3">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.pinimg.com/736x/69/4a/95/694a950d3502b17c4a7b6defc2b9598c.jpg" class="img-fluid rounded-start" alt="city_photo">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title fs-4  text-warning py-2 my-0 text-center">Jinzoningen Hotel</h5><br>
                    <p class="card-text"><b>City: </b> Shingashina</p>
                    
                    <p class="card-text"><b>Nights: </b>8</p>
                  </div>
              </div>
              <p class="card-footer bg-dark "><small class="text-center text-warning"><b>Price: </b>￥21.400</small></p>
              </div>
            </div>
      </div>
      <div class="col col-4 my-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F3.bp.blogspot.com%2F-7bO9QkkQ0_o%2FU34OLaHSNFI%2FAAAAAAAAGwo%2Fu8yrsmdKA6k%2Fs1600%2FFujiyaHotel_FlowerPalace.JPG&f=1&nofb=1" class="img-fluid rounded-start" alt="city_photo">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title fs-4  text-warning py-2 my-0 text-center">Hakkai Karoshi Do Hotel<br></h5>
                  <p class="card-text"><b>City: </b>Warida</p>
                  <p class="card-text"><b>Nights: </b>6</p>
                </div>
            </div>
            <p class="card-footer bg-dark "><small class="text-center text-warning"><b>Price: </b>￥13,750 </small></p>
            </div>
          </div>
    </div>
        
    </div>

    <div class="row">
      <div class="col col-4 my-3">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.theculturetrip.com%2Fwp-content%2Fuploads%2F2018%2F04%2Fsctp0160-chureito-pagoda-mount-fuji-japan-jariwala-7.jpg&f=1&nofb=1" class="img-fluid rounded-start" alt="city_photo">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title fs-4  text-warning py-2 my-0 text-center">Kanagawa</h5><br>
                    <p class="card-text"><b>City: </b>Yokohama</p>
                    <p class="card-text"><b>Nights: </b>5</p>
                  </div>
              </div>
              <p class="card-footer bg-dark "><small class="text-center text-warning"><b>Price: </b>￥15,900</small></p>
              </div>
            </div>
      </div>
      <div class="col col-4 my-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fexternal-preview.redd.it%2F985sW9ObUMRoC4ng_-JmK9vileRlbmHuHOW1XsI0hr4.jpg%3Fwidth%3D640%26crop%3Dsmart%26auto%3Dwebp%26s%3D05c9dcfe96277b64a0ec58e0af0e0854b85e43bd&f=1&nofb=1" class="img-fluid rounded-start" alt="city_photo">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title fs-4  text-warning py-2 my-0 text-center">Hotel Nikko Kansai Airport</h5><br>
                  <p class="card-text"><b>City: </b>Izumisano</p>
                  <p class="card-text"><b>Nights: </b>3</p>
                </div>
            </div>
            <p class="card-footer bg-dark "><small class="text-center text-warning"><b>Price: </b>￥15,900</small></p>
            </div>
          </div>
    </div>
    <div class="col col-4 my-3">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.theculturetrip.com%2Fwp-content%2Fuploads%2F2018%2F04%2Fsctp0160-chureito-pagoda-mount-fuji-japan-jariwala-7.jpg&f=1&nofb=1" class="img-fluid rounded-start" alt="city_photo">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fs-4  text-warning py-2 my-0 text-center">Kanazawa Kokusai Hotel</h5><br>
                <p class="card-text"><b>City: </b> Kawazawa</p>
                <p class="card-text"><b>Nights: </b>6</p>
              </div>
          </div>
          <p class="card-footer bg-dark "><small class="text-center text-warning"><b>Price: </b>￥15,900</small></p>
          </div>
        </div>
  </div>
      
  </div>
    
</section>