#carousel-item {
    height: 50vh;
    font-size: 2em;
    text-shadow: 5px 5px 7px black;
}

#carousel-item h5 {
    font-size: 8vw;
}


#carousel-item p {
    
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0.548);
    

}

#carousel-item h6{
    margin: 0px 0px 7vw;
}

.card-title {
    text-shadow: 4px 4px 5px black!important;
}